<div class="patient-instance surgical"> <!--class changes depending on the latest consult-->
    <a href="#" class="name">
        <!--lastName, firstName middleName(just the initial).-->
        ALONZO, Jose Anton S.
        <div class="age">
            Age: 21
        </div>
    </a>
</div>